# --- SERVER SETTINGS ---
BACKEND_PORT=3001
FRONTEND_PORT=8080

# --- DATABASE SETTINGS ---
DB_HOST=postgres-db
DB_PORT=5432
POSTGRES_DB=events_db

# --- REDIS SETTINGS ---
REDIS_HOST=redis-cache
REDIS_PORT=6379
