# --- SERVER SETTINGS ---
BACKEND_PORT=3001
BACKEND2_PORT=3002
FRONTEND_PORT=8080

# --- DATABASE SETTINGS ---
DB_HOST=postgres-db
DB_PORT=5432
DB_NAME=events_db

# --- REDIS SETTINGS ---
REDIS_HOST=redis-cache
REDIS_PORT=6379

# --- KEYCLOAK SETTINGS ---
KEYCLOAK_HOST=keycloak:8080
KEYCLOAK_REALM=myapp
KEYCLOAK_PUBLIC_URL=http://localhost:8080